# {{ ansible_managed }}
LANG="{{ locale_lang }}"
{% if wtd_locale_lc_address %}
LC_ADDRESS="{{ wtd_locale_lc_address }}"
{% endif %}
{% if wtd_locale_lc_collate %}
LC_COLLATE="{{ wtd_locale_lc_collate }}"
{% endif %}
{% if wtd_locale_lc_ctype %}
LC_CTYPE="{{ wtd_locale_lc_ctype }}"
{% endif %}
{% if wtd_locale_lc_identification %}
LC_IDENTIFICATION="{{ wtd_locale_lc_identification }}"
{% endif %}
{% if wtd_locale_lc_measurement %}
LC_MEASUREMENT="{{ wtd_locale_lc_measurement }}"
{% endif %}
{% if wtd_locale_lc_messages %}
LC_MESSAGES="{{ wtd_locale_lc_messages }}"
{% endif %}
{% if wtd_locale_lc_monetary %}
LC_MONETARY="{{ wtd_locale_lc_monetary }}"
{% endif %}
{% if wtd_locale_lc_name %}
LC_NAME="{{ wtd_locale_lc_name }}"
{% endif %}
{% if wtd_locale_lc_numeric %}
LC_NUMERIC="{{ wtd_locale_lc_numeric }}"
{% endif %}
{% if wtd_locale_lc_paper %}
LC_PAPER="{{ wtd_locale_lc_paper }}"
{% endif %}
{% if wtd_locale_lc_telephone %}
LC_TELEPHONE="{{ wtd_locale_lc_telephone }}"
{% endif %}
{% if wtd_locale_lc_time %}
LC_TIME="{{ wtd_locale_lc_time }}"
{% endif %}
